.pageWrap {
  max-width: 450px;
  min-height: 600px;
  height: auto;
  background-color: aliceblue;
  position: relative;
  margin: 30px auto 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(174, 195, 217, 0.5);
}
