body {
  margin: 0;
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

#dashboardContainer {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Sidebar fixed width */
#sidebarComponent {
  width: 250px;
}

/* Main content takes remaining space */
#mainComponent {
  flex: 1;
}
