<div class="main-wrapper">
  <div class="main-head">
    <h2></h2>
    <p>Here's what's happening with your productivity today</p>
  </div>

  <div class="main-display">
    <div class="box-wrap">
      <div class="active-task box">
        <p>Active Tasks</p>
        <img src="/images/login-image.png" alt="" />
      </div>
      <div class="later">
          <h2>0</h2>
          <p>0 completed</p>
      </div>
    </div>

    <div class="box-wrap">
      <div class="expenses box">
        <p>Total Expenses</p>
        <img src="/images/green-dollar.png" alt="" />
      </div>
      <div class="later">
        <h2>$0.00</h2>
        <p>This period</p>
      </div>
    </div>

    <div class="box-wrap">
      <div class="notes box">
        <p>Total Notes</p>
        <img src="/images/green-note.png" alt="" />
      </div>
      <div class="later">
        <h2>0</h2>
        <p>Saved notes</p>
      </div>

    </div>


    <div class="box-wrap">
    <div class="rate box">
      <p>Completion Rate</p>
      <img src="/images/blue-rate.png" alt="" />
    </div>

    <div class="later">
        <h2>0%</h2>
        <p>Task completion</p>
      </div>
    </div>
  </div>

  <div class="main-half">
    <div class="recent-task">
      <div class="recent-head">
        <img src="/images/recent.png" alt="" />
        <p>Recent Tasks</p>
      </div>
      <div class="recent-img">
          <img src="/images/none.png" alt="">
          <p>No tasks yet</p>
      </div>
    </div>

    <div class="quick-action">
      <div class="quick-head">
        <img src="/images/quick.png" alt="" />
        <p>Quick Action</p>
      </div>

      <div class="activities">
        <div class="new-task">
          <img  src="/images/login-image.png" alt="" />
          <div class="box-flex">
            <h4>Create New Task</h4>
            <p>Add a task to your list</p>
          </div>
        </div>
        <div class="track-expense">
          <img class="image" src="/images/expense.png" alt="" />
          <div class="box-flex">
            <h4>Track Expense</h4>
            <p>Record a new expense</p>
          </div>
        </div>
        <div class="write-note">
          <img class="image" src="/images/write.png" alt="" />
          <div class="box-flex">
            <h4>Write Note</h4>
            <p>Capture your thoughts</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
