:root {
  --primary-font: 14px;
  --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 450px;
  min-height: 600px;
  height: auto;
  background-color: #ffffff;
  position: relative;
  margin: 30px auto 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(174, 195, 217, 0.5);
}

.top-img {
  width: 80px;
  margin-top: 40px;
  margin-left: 70px;
}

.header {
  position: relative;
  margin-left: 120px;
  /* margin-left: 200px; */
}

.header p {
  color: #757d89;
}

.login-btn {
  background-color: #f3f4f6;
  width: 400px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 3px;
  margin-top: 50px;
}

.login-btn button {
  transition: 0.3s;
  cursor: pointer;
  font-size: var(--primary-font);
  font-weight: 600;
  background-color: #f3f4f6;
}

.active-btn {
  background: white !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.login {
  width: 186px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  padding: 10px;
}

.signin {
  width: 200px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.hidden-form {
  display: none;
}

.fullname {
  width: 85%;
  padding: 8px 30px;
  border-radius: 10px;
  border: 2px solid #e3e6ed;
}

.name {
  position: relative;
  width: 20px;
  top: 30px;
  right: 75px;
}

.email-img {
  position: relative;
  width: 20px;
  top: 30px;
  padding-left: 8px;
}

.email {
  padding: 8px 35px;
  border-radius: 10px;
  border: 2px solid #e3e6ed;
}

.password-container .input-field {
  flex: 1;
  padding-right: 40px;
}

.lock {
  position: relative;
  width: 20px;
  top: 30px;
  left: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.lock img {
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container .input-field {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.password {
  padding: 8px 40px;
  border: 2px solid #e3e6ed;
  border-radius: 10px;
}

.label {
  padding-top: 10px;
}

.input-field:focus {
  border-color: lightskyblue;
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.footer-btn {
  width: 100%;
  display: flex;
  gap: 12px;
}

.btn {
  border-radius: 8px;
  width: 50%;
  border: 2px solid #e3e6ed;
  margin-top: 28px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-family: var(--font-family);
}

.help {
  background-color: #ffffff;
}

.next {
  background-color: #fbc300;
}

.footer {
  width: 90%;
  font-size: 12px;
  margin: 8px 20px;
  font-family: var(--font-family);
}
