body{
    margin: 0;
}

.menu-btn {
    display: none;
}

.taskMaster {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 15px;
}

.taskMaster h3 {
  padding-right: 30px;
}

.arrow {
  width: 10px;
  height: 15px;
  padding-top: 20px;
  padding-right: 5px;
}

.list-logo {
    width: 50px;
    padding-top: 10px;
}
.sidebar-container {
  width: 200px;
  height: 100vh;
  
}

.email-display {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.user-container {
  display: flex;
  align-items: center; 
  gap: 10px;          
}

.user-initial {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.user-info {
  display: flex;
  flex-direction: column; 
}

.user-info h3 {
  margin: 0;
  font-size: 16px;
}

.user-info p {
  margin: 0;
  font-size: 12px;
  color: #555;
}


.manager {
    display: flex;
    flex-direction: column;
    gap: 350px;
}
.list {
    list-style: none;
    text-decoration: none;
    margin-left: -30px;
}

.dash {
  background-color: rgb(205, 226, 233);
 
}

.dash a{
   color: #007bff;
}

.list:hover {
  background-color: rgb(191, 215, 223);
  color: aliceblue;
}

.list a:hover{
  color: aliceblue;
}

.list a{
    text-decoration: none;
    color: black;
}

.logout {
    display: flex;
    margin-left: 8px;
    gap: 8px;
}

.logout-img {
    width: 15px;
    height: 15px;
    padding-top: 22px;
}

.logout h4 {
    color: red;
}



@media (max-width: 768px) {
 .menu-btn {
        display: block;
    }
  .sidebar-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transform: translateX(-100%); 
    z-index: 1000;
  }

  
  .sidebar-container.show-sidebar {
    transform: translateX(0);
  }
}


.menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  z-index: 1100; 
  cursor: pointer;
}
