<div class="wrapper">
  <div class="taskMaster">
    <img class="list-logo" src="/images/login-image.png" alt="" />
    <h3>TaskMaster</h3>
    <img class="arrow" src="/images/Frame (2).png" alt="" />
  </div>

  <div class="email-display"></div>

  <div class="manager">
    <div class="dashboard-list">
      <ul class="lsit-order">
        <li class="list dash">
          <a href="#">
            <img
              class="lsit-img"
              src="/images/dashboard_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png"
              alt=""
            />
            Dashboard
          </a>
        </li>
        <li class="list">
          <a href="#">
            <img
              class="lsit-img"
              src="/images/task_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png"
              alt=""
            />
            Task
          </a>
        </li>
        <li class="list">
          <a href="#">
            <img
              class="lsit-img"
              src="/images/group_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png"
              alt=""
            />
            Community
          </a>
        </li>
        <li class="list">
          <a href="#">
            <img
              class="lsit-img"
              src="/images/attach_money_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png"
              alt=""
            />
            Expenses
          </a>
        </li>
        <li class="list">
          <a href="#">
            <img
              class="lsit-img"
              src="/images/description_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png"
              alt=""
            />
            Notes
          </a>
        </li>
        <li class="list">
          <a href="#">
            <img
              class="lsit-img"
              src="/images/settings_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png"
              alt=""
            />
            Settings
          </a>
        </li>
      </ul>
    </div>

    <div class="logout">
      <img class="logout-img" src="/images/logout.png" alt="" />
      <h4>Logout</h4>
    </div>
  </div>
</div>
