<div class="mainWrapper">

    <h1></h1>
    <p>Here's what's happening with your productive today</p>
<div class="main">
    <div>
        <h4>Active Tasks</h4>
    </div>
    <div> 
        <h4>Total Expenses</h4>
    </div>
    <div>
        <h4>Total Notes</h4>
    </div>
    <div> 
        <h4>Completion Rate</h4>
    </div>
</div>

<div class="left">

</div>

<div class="right">
    <div class="quickAction">
        <p>Quick Actions</p>
        <div>
            <h4> Creat New Task</h4>
            <p>Add a task to your list</p>
        </div>
        <div>
            <h4>Track Expense</h4>
            <p>Record a new expense</p>
        </div>
       <div>
        <h4>Write Note</h4>
        <p>Capture your thought</p>
       </div>
    </div>
</div>

</div>

