<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dash board</title>

    <link rel="stylesheet" href="dashboard.css" />
    <link rel="stylesheet" href="sidebar/sidebar.css" />
    <link rel="stylesheet" href="mainbody/main.css" />
    <link rel="stylesheet" href="task/task.css">
    <link rel="stylesheet" href="community/community.css">
  </head>
  <body>
    <div class="dashboard-container">

      <button id="menuBtn" class="menu-btn">
          <img src="/images/three-lines.png" alt="">
      </button>

      <div class="sidebar-container"></div>
   
      <div class="main"></div>

    </div>

    <script src="dashboard.js"></script>
  </body>
</html>
