

.dashboard-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color:  #F9FAFB;
}

.sidebar-container {
    background-color: white;
    border-right: 1px solid lightgray;
}

.main {
    width: 85%;
    padding-top: 30px;
    padding-left: 20px;
}

