.form {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.hidden-form {
  display: none;
}

.fullname {
  width: 85%;
  padding: 8px 30px;
  border-radius: 10px;
  border: 2px solid #e3e6ed;
}

.name {
  position: relative;
  width: 20px;
  top: 30px;
  right: 75px;
}

.email-img {
  position: relative;
  width: 20px;
  top: 30px;
  padding-left: 8px;
}

.email {
  padding: 8px 35px;
  border-radius: 10px;
  border: 2px solid #e3e6ed;
}

.password-container .input-field {
  flex: 1;
  padding-right: 40px;
}

.lock {
  position: relative;
  width: 20px;
  top: 30px;
  left: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.lock img {
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container .input-field {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.password {
  padding: 8px 40px;
  border: 2px solid #e3e6ed;
  border-radius: 10px;
}

.label {
  padding-top: 10px;
}

.input-field:focus {
  border-color: lightskyblue;
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}