<form class="form">
        <div id="fullName" class="hidden-form">
          <label>Full Name *</label>
          <img
            class="name"
            src="../images/person_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24 (1).svg"
            alt=""
          />
          <input
            type="text"
            class="fullname input-field"
            placeholder="John Doe"
          />
        </div>
        <label class="label">Email Address *</label>
        <img class="email-img" src="/images/mail.png" alt="" />
        <input
          id="emailInput"
          class="email input-field"
          type="email"
          placeholder="hello@example.com"
          required
        />
        <label class="label">password *</label>
        <div class="password-container">
          <button id="lockBtn" class="lock">
            <img id="lockImg" src="/images/lock.png" alt="password hiden" />
          </button>
          <input
            id="passwordInput"
            class="password input-field"
            type="password"
            placeholder="Enter password"
            required
          />
        </div>

      </form>