<div class="wrapper">
<div class="tasMaster">
    <img src="" alt="">
    <h2>Task Master</h2>
</div>

<div class="userName">
    <h3></h3>
    <p></p>
</div>

<div class="menu">
    <ul>
        <li><a href="#"> Dashboard</a></li>
        <li><a href="#"> Tasks</a></li>
        <li><a href="#"> Community</a></li>
        <li><a href="#"> Expenses</a></li>
        <li><a href="#"> Notes</a></li>
        <li><a href="#"> Settings</a></li>
    </ul>
</div>

<div class="logout">
    <h2>Logout</h2>
</div>
</div>